# ==== Setting app ====
DEBUG=True

HOST="127.0.0.1"
PORT=8000

# ==== Redis ====
REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"

# ==== DataBase ====
DATABASE_URL="sqlite+aiosqlite:///data/database.db"

# ========= Mail рассылка
MAIL_USERNAME=dxd56422@yandex.ru
MAIL_PASSWORD=whkrwsknvpkcijyx
MAIL_FROM=dxd56422@yandex.ru
